.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.shops {
  max-width: 100%;
  height: auto;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

p {
    font-size: 14px;
    line-height: 22.4px;
    color: rgb(108, 114, 121);
}

.person {
    margin-bottom: 30px;
}

.person-content {
    text-align: center;
}

.social-icons {
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.col-md-3 {
    flex: 1;
    max-width: 250px;
}