<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мухтар Ауэзов</title>
    <link rel="icon" type="image/png" href="/media/main/alatoo-logo.png">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

</head>

<body>
    <div id="header">
        <div class="container">
            <nav>
                <div class="logo">
                    <span style="color: red;">Н<span style="color: white;">еандертальцы</span></span>
                </div>
                <ul>
                    <li><a href="{% url 'main:index' %}">Главная</a></li>
                    <li><a href="#">Биография</a></li>
                    <li><a href="#">Исследования</a></li>
                    <li><a href="#">Работы</a></li>
                </ul>
            </nav>
            <div class="header__text">
                <p>Мухтар Ауэзов</p>
                <h1>Его вклад в эпос<br> "Манас"</h1>
            </div>
        </div>
    </div>

    <!-- -----------------------Биография ------------------------------------- -->

    <div id="about">
        <div class="container">
            <div class="row">
                <div class="about__col__1">
                    <img src="/media/muxtar/p2.jpg">
                </div>
                <div class="about__col__2">
                    <h1 class="sub-title">Биография</h1>
                    <p>Мухтар Ауэзов внес значительный вклад в изучение киргизского эпоса «Манас». Он одним из первых
                        исследовал его как литературное и историко-культурное явление, анализируя художественные
                        особенности, структуру и смысловую глубину эпоса..</p>

                    <div class="tab-titles">
                        <p class="tab-links active-link" onclick="opentab('birth')">Рождение</p>
                        <p class="tab-links" onclick="opentab('who')">Кто он</p>
                        <p class="tab-links" onclick="opentab('works')">Деятельность</p>
                    </div>
                    <div class="tab-contents active-tab" id="birth">
                        <ul>
                            <li><span>Место</span><br> Родился 28 сентября 1897 года в Семипалатинской области (ныне
                                Восточно-Казахстанская область, Казахстан).</li>
                        </ul>
                    </div>
                    <div class="tab-contents" id="who">
                        <ul>
                            <li><span>1946</span><br>Академик АН Казахской ССР</li>
                            <li><span>Учёный и литературовед</span><br>Исследовал казахский фольклор, эпос «Манас»,
                                творчество Абая</li>
                            <li><span>Преподаватель</span><br> Работал в Казахском государственном университете,
                                преподавал литературу</li>
                            <li><span>Редактор и журналист</span><br>Участвовал в создании и редактировании газет и
                                журналов, связанных с культурой и литературой.</li>
                            <li><span>Депутат Верховного Совета Казахской ССР</span><br>Занимался
                                общественно-политической деятельностью.</li>
                        </ul>
                    </div>
                    <div class="tab-contents" id="works">
                        <ul>
                            <li><span>«Путь Абая»</span><br>Главная эпопея Ауэзова, рассказывающая о жизни и становлении
                                казахского поэта Абая Кунанбаева</li>
                            <li><span>«Аблайхан»</span><br>Пьеса о великом казахском ханe.</li>
                            <li><span>Исследования казахского фольклора и эпоса «Манас»</span><br>Анализ и обоснование
                                ценности тюркского эпоса.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- ------------------Его вклад------------------------------------- -->




    <div class="container">
        <div class="timeline">
        <div class="timeline-container left-container">

            <box-icon name='book-reader' type='solid' color="blue"></box-icon>
            <div class="text-box">
                <h2>1920-е годы </h2>
                <p>Ауэзов начинает интересоваться устным народным творчеством, в том числе киргизским эпосом «Манас».
                </p>
                <span class="left-container-arrow"></span>
            </div>
        </div>


        <div class="timeline-container right-container">
            <box-icon name='file' type='solid' color="yellow"></box-icon>
            <div class="text-box">
                <h2>1930-е годы </h2>
                <ul>
                    <li>
                        Изучает различные версии «Манаса», собирает материалы и анализирует особенности эпоса.
                    </li>
                    <li>
                        В 1935 году выступает на научной конференции в Бишкеке с докладом о художественных особенностях
                        «Манаса», где подчеркивает его культурную и историческую ценность.
                    </li>
                </ul>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        <div class="timeline-container left-container">
            <box-icon name='search-alt' color="black"></box-icon>
            <div class="text-box">
                <h2>1940-е годы </h2>
                <ul>
                    <li>
                        Изучает различные версии «Манаса», собирает материалы и анализирует особенности эпоса.
                    </li>
                    <li>
                        Разрабатывает теоретические основы изучения «Манаса» как литературного памятника тюркских
                        народов.
                    </li>
                </ul>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <div class="timeline-container right-container">
            <box-icon name='x-circle' color="red"></box-icon>
            <div class="text-box">
                <h2>1950-е годы </h2>
                <p>Продолжает исследования эпоса, но в 1952 году подвергается политическим репрессиям за якобы
                    «идеализацию феодального прошлого», из-за чего вынужден прекратить активную работу над «Манасом».
                </p>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        <div class="timeline-container left-container">
            <box-icon name='revision' color="green"></box-icon>
            <div class="text-box">
                <h2>Конец 1950-х – начало 1960-х годов</h2>
                <ul>
                    <li>
                        После реабилитации возвращается к изучению народного творчества, способствует признанию эпоса
                        «Манас» как ценного историко-культурного наследия.
                    </li>
                    <li>
                        Его труды становятся основой для дальнейших исследований киргизских ученых и популяризации эпоса
                        в советской науке.
                    </li>
                </ul>
                <span class="left-container-arrow"></span>
            </div>
        </div>
    </div>
    </div>



    <div id="quotes">
        <div class="container swiper">
            <div class="quotelist swiper-wrapper">

                    <div class="swiper-slide">
                        <p class="quote" style="background-color: #121212">«Шла огромная дискуссия. Это была акция политического, идеологического характера, связанная с дискредитацией великого народного эпоса Манас. Я сам в то время еще студент, учился в сельскохозяйственном институте. Идет кампания против эпоса Манас, идет насаждение, что это антинародная, феодальная поэзия. То есть это классовый, идеологический, политический подход к тому, что возникло, что жило в среде киргизского народа как высшее культурное его достояние тысячелетие до этого. Как сейчас помню, в зал КирФАНа (прим. Киргизский филиал Академии наук) народ не вместился – залы тогда были небольшие. В вестибюле при входе в фойе невозможно было пройти.


    Я увидел незнакомого мне человека, незнакомую личность, который с первого взгляда произвел на меня огромное впечатление. Со лбом мудреца, сам очень видный и колоритный человек. Сам я и не знал, что это Ауэзов.


    Шла потрясающая борьба мнений. Одни стараются утвердить официальную версию того, что эпос Манас антинароден и на этом, может быть, самим заработать свой политический вес. Других было меньше, у них и позиции были слабее, говорили, что нельзя сходу отвергать того, что досталось издревле»</p>
                    </div>
                    <div class="swiper-slide">
                        <p class="quote">«Бытуя в советскую эпоху, разве «Манас» уже не очистился от скверны, которую пытались прилепить к нему? Где вы видите теперь «Манаса» пантюркистов, панисламистов, сторонников газаватов? В сегодняшнем восприятии советского киргизского народа разве живет хан Манас, а не просто богатырь? И разве сегодняшнее отношение киргизского народа не связано с прежним подлинно народным отношением к «Манасу» - богатырю, носителю народных черт, а именно героизма, чести, доблести, благородства, любви к Родине и т.д.? Ведь не могло и быть иначе.


    Решая вопрос о «Манасе», о том, нужен он советскому народу или нет, мы должны помнить и другое немаловажное. Ведь сюда, как в единственный памятник прошлого духовной культуры киргизского народа, стянулось, влилось очень и очень многое, многое из словесно-речевой, поэтической, в целом, духовной культуры народа.


    Все сказанное говорит о том, что «Манас» нужен советскому киргизскому народу как ценный памятник его прошлого. И «Манас» должен быть издан, изучен»</p>
                    </div>
                    <div class="swiper-slide">
                        <p class="quote">«В ошибках Института языка и литературы безусловно повинны и руководители Академии наук Казахской ССР, в частности, тт. Сатпаев, Кенесбаев, Сауранбаев, Ауэзов. Эти товарищи не сумели вовремя вскрыть ошибки, сделать большевистские выводы и дать правильное направление в работе Института…»</p>
                    </div>


            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>


    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{% static 'js/js.js' %}"></script>
</body>

</html>