<section id="works" class="works section no-padding">
    <div class="container-fluid">
        <h2 class="text-center">Иллюстрации</h2>
        <div class="row no-gutter">
            <div class="col-lg-3 col-md-6 col-sm-6 work">
                <a href="{% static 'images2/photo-1.jpg' %}" class="work-box">
                    <img src="/media/main/photo-1.jpg" alt="">
                    <div class="overlay">

                    </div><!-- overlay -->
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work">
                <a href="{% static 'images2/photo-2.jpg' %}" class="work-box">
                    <img src="/media/main/photo-2.jpg" alt="">
                    <div class="overlay">

                    </div><!-- overlay -->
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work">
                <a href="{% static 'images2/photo-3.jpg' %}" class="work-box">
                    <img src="/media/main/photo-3.jpg" alt="">
                    <div class="overlay">

                    </div><!-- overlay -->
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work">
                <a href="{% static 'images2/photo-4.jpg' %}" class="work-box">
                    <img src="/media/main/photo-4.jpg" alt="">
                    <div class="overlay">

                    </div><!-- overlay -->
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work">
                <a href="{% static 'images2/photo-5.jpg' %}" class="work-box">
                    <img src="/media/main/photo-5.jpg" alt="">
                    <div class="overlay">

                    </div><!-- overlay -->
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work">
                <a href="{% static 'images2/photo-6.jpg' %}" class="work-box">
                    <img src="/media/main/photo-6.jpg" alt="">
                    <div class="overlay">

                    </div><!-- overlay -->
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work">
                <a href="{% static 'images2/photo-7.jpg' %}" class="work-box">
                    <img src="/media/main/photo-7.jpg" alt="">
                    <div class="overlay">

                    </div><!-- overlay -->
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work">
                <a href="{% static 'images2/photo-8.jpg' %}" class="work-box">
                    <img src="/media/main/photo-8.jpg" alt="">
                    <div class="overlay">

                    </div><!-- overlay -->
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work">
                <a href="{% static 'images2/photo-9.jpg' %}" class="work-box">
                    <img src="/media/main/photo-9.jpg" alt="">
                    <div class="overlay">

                    </div><!-- overlay -->
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work">
                <a href="{% static 'images2/photo-10.jpg' %}" class="work-box">
                    <img src="/media/main/photo-10.jpg" alt="">
                    <div class="overlay">

                    </div><!-- overlay -->
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work">
                <a href="{% static 'images2/photo-11.jpg' %}" class="work-box">
                    <img src="/media/main/photo-11.jpg" alt="">
                    <div class="overlay">

                    </div><!-- overlay -->
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work">
                <a href="{% static 'images2/photo-12.jpg' %}" class="work-box">
                    <img src="/media/main/photo-12.jpg" alt="">
                    <div class="overlay">

                    </div><!-- overlay -->
                </a>
            </div>
        </div>
    </div>
</section>