<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<div class="container">
    <h2 class="text-center">Где почитать в книжном варианте</h2>
    <br>
    <br>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/album.css' %}">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="person">
                <img src="/media/main/raritet.jpg" alt="" class="img-responsive shops" style="width: 80%; height: auto;">
                <div class="person-content">
                    <h4>Раритет</h4>
                    <br>
                    <p>Книжный магазин где вы можете преобрести эпос манас. Имеет 7 филиалов по городу Бишкек<br>
                        Ниже кнопка, которая приведет вас к инстаграм аккаунту этого магазина.
                    </p>
                </div>
                <ul class="social-icons clearfix">
                    <li><a href="https://www.instagram.com/raritet_kg?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><span class="fa fa-instagram"></span></a></li>
                </ul>
            </div><!-- person -->
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="person">
                <img src="/media/main/bookingem.png" alt="" class="img-responsive shops" style="width: 51%; height: auto;">
                <div class="person-content">
                    <h4>Book`ингем</h4>
                    <br>
                    <p>Книжный магазин где вы можете преобрести эпос манас. <br>
                        Ниже кнопка, которая приведет вас к инстаграм аккаунту этого магазина.
                    </p>
                </div>
                <ul class="social-icons clearfix">
                    <li><a href="https://www.instagram.com/bookingem?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" class=""><span class="fa fa-instagram"></span></a></li>
                </ul>
            </div><!-- person -->
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="person">
                <img src="/media/main/libruary.jpg" alt="" class="img-responsive shops" style="width: 90%; height: auto;">
                <div class="person-content">
                    <h4>Библиотеки</h4>
                    <br>
                    <p>Так же по городу большое количество библиотек, в том числе библиотека в МУА. <br>
                        Ниже по кнопке ссылка 2gis с указанием всех библиотек в городе.
                    </p>
                </div>
                <ul class="social-icons clearfix">
                    <li><a href="https://2gis.kg/bishkek/search/%D0%91%D0%B8%D0%B1%D0%BB%D0%B8%D0%BE%D1%82%D0%B5%D0%BA%D0%B8/rubricId/189" class=""><span class="fa fa-compass"></span></a></li>
                </ul>
            </div><!-- person -->
        </div>
    </div>
</div>
